.profile{
  position: relative;
  z-index:2;

  margin-top:5.5rem;
  justify-content: center;
  display:flex;
  gap: 6rem;

  &:before{
    content: url('../../assets/bg_img/squares.svg');
    position: absolute;
    z-index: 0;
    top:-50px;
    left:780px;
    opacity: 0.7;
  }
  &__left-side{
    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: center;

    border: 2px solid #9B6195;
    background: rgb(7,7,7);
    backdrop-filter: blur(60px);

    padding: 0 90px 0 90px;
  }
  &__right-side{
    z-index: 0;

    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto 1fr;
    column-gap:1.25rem;
    row-gap:2.5rem;
    flex-grow:0;
    justify-content: flex-end;
  }
  &__title{
    margin-top: 2rem;

    font-size:1.75rem;
    color: #ffffff;
    text-shadow:
            -0   -1px 2px #00848C,
            0   -1px 2px #00848C,
            -0    1px 2px #00848C,
            0    1px 2px #00848C,
            -1px -0   2px #00848C,
            1px -0   2px #00848C,
            -1px  0   2px #00848C,
            1px  0   2px #00848C,
            -1px -1px 2px #00848C,
            1px -1px 2px #00848C,
            -1px  1px 2px #00848C,
            1px  1px 2px #00848C,
            -1px -1px 2px #00848C,
            1px -1px 2px #00848C,
            -1px  1px 2px #00848C,
            1px  1px 2px #00848C;

  }
  &__foto-block{
    display: flex;

    justify-content: center;
    align-items: center;

    width: 19rem;
    height: 19rem;

    background: url(../../assets/profile/bg_user_image.svg) no-repeat;
    background-size: cover;


  }
  &__foto{
    position: relative;
    left: 2px;
    max-width:250px;

  }
  &__change-foto{
    position: relative;
    z-index:1;
    &-button{
      position: relative;
      z-index:1;
      cursor: pointer;
      display:block;
      height:60.2px;
      margin-top: 125px;

    }
    &-icon{
      background-color: #000;

      border: 2px solid white;
      padding: 6px 6px 10px 10px;
      transition: all 0.3s ease-in-out;
      &:hover{
        background-color: white;
      }
    }
    &-input{
      overflow: hidden;
      width:0.1px;
      height:0.1px;
      opacity: 0;
      position: relative;
      z-index: -1;
    }
  }
  &__save{

    justify-self: center;
    grid-column:2/3;
    &__{
      background: rgb(14,14,14);
    }
    &-button{
      position: relative;

      white-space: wrap;
      padding: 23px 70.5px 20px 70.5px;
      background: url(../../assets/profile/profile_button/profile_button.svg) no-repeat ;
      font-size:1.25rem;
      transition: box-shadow 0.2s ;
    }
    &-button:hover{
      box-shadow: 0 0 45px 0 #00848C;
    }
    &-button:before{
      content: url("../../assets/profile/profile_button/left_decor.svg");
      position: absolute;
      bottom:-5px;
      left: -12px;
    }
    &-button:after{
      content: url("../../assets/profile/profile_button/right_decor.svg");
      position: absolute;
      top: 16px;
      right: -10px;
    }
  }

}
.blue-title{
  color: #00848C;
  font-size:1.75rem;
}

.profile__bg-decor{
  &--1:before{
    content: url('../../assets/bg_img/way1.svg');
    position: absolute;
    top: 120px;
    left: -370px;
  }
  &--1:after{
    content: url('../../assets/bg_img/way.svg');
    position: absolute;
    top: 900px;
    right: -860px;
  }
  &--2:before{
    content: url('../../assets/bg_img/way2.svg');
    position: absolute;
    top: 950px;
    right: -860px;
  }
  //&--2:after{
  //  content: url('../../assets/bg_img/squares.svg');
  //  position: absolute;
  //  top: 500px;
  //  left:-350px;
  //  z-index: 1;
  //}
}