
body{
  max-width: 1920px;
}
.page-main{
  position: relative;
  margin-top:4rem;

  //&:before{
  //  position: absolute;
  //  content: "";
  //  width: 1920px;
  //  height: 1080px;
  //  top:-200px;
  //  left:-300px;
  //  z-index:0;
  //  background-image: url(../../../public/assets/images/svg/waves.svg);
  //}
}
.main{
  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(135,135,135, 0.05);
  backdrop-filter: blur(100px);

  width:1148px;
  height:776px;
  margin: 0 auto;
  border: 3px solid #00848C;

  &__title {
    align-items:end;
    margin-top:3rem;

    font-size:2rem;
    letter-spacing: 0.02rem;

    text-shadow: 0 0 31px #a94fc9, 0 0 62px #a94fc9, 0 0 185px #a94fc9;

  }
  &__bottom{
    position: absolute;
    bottom:0;

    display: grid;
    grid-template-columns: auto auto;

    width: 60rem;
    margin-bottom: 2.5rem;
    font-size:1.75rem;

    justify-self: end;
    justify-content: space-between;
  }
}
.form{

  margin-top:3.5rem;

  display: grid;
  grid-template-rows: 3fr;

  width:35.8125rem;

  &__userdata{
    width: 573px;

    border: 1px solid #00848C;
    border-radius:4px;
    padding:0 10px;
    background: none;

    height:5rem;
    font-size:1.2rem;
    &::placeholder {
      text-align: center;
    }
  }
  &__userdata::placeholder{
    color: rgb(195,195,195);
  }
  .form__password{
    margin-top:2rem;
  }
  &__button{
    background: linear-gradient(to right,#f47de8,#452a42);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    padding: 0 0.625rem 0.125rem 0.625rem;
    height:3rem;

    font-family: "Montserrat",sans-serif;
    font-size:1.5rem;

    margin-top: 2.5rem;
    margin-bottom:5.5rem;
    justify-self: center;

    border:2px solid #878787;
    border-radius:4px;
  }
  &__input-list{
    display:flex;
    flex-direction: column;
    gap:2rem;

  }
}
input::-ms-reveal,
input::-ms-clear {
  display: none;
}

.form__password+label {
  position: relative;
}
#onemore-before+label:before, .form__password+label:before {
    position: absolute;
    content:url("../../assets/auth/hide_pass.svg");
    width:36px;
    top: -58px;
    left: 510px;
}
#onemore-before+label:hover:before, .form__password+label:hover:before{
  cursor: pointer;
}


.underline_and_gradient{
  position: relative;
  color: #00848C;

  &:before{
    content:"";
    position: absolute;
    top : 28px;
    left: 0;
    width:100%;
    height:2px;
    background: linear-gradient(to right,#5721B7 0%,#D668CD 100%);
    box-shadow: -23px 3px 40px 3px #5721B7,23px 3px 40px 3px #D668CD;
  }
  &:hover{
    color: #00848C;
    cursor: pointer;
  }
}



