
.header{
  display: flex;
  position: relative;
  width: 1360px;
  justify-content: space-between;
}
.navbar{
  &__list{
    font-size: 1.125rem;
    display: flex;
    gap: 4rem;
  }
}
.header__profile{
  border: 2px solid #C32856;
  border-radius:100%;
  padding:13.5px 10px;
  margin: auto 0;
}