.profile{
  position: relative;
  z-index:2;

  margin-top:6.5rem;
  display:flex;
  gap: 2rem;

  &:before{
    content: url('../../assets/bg_img/squares.svg');
    position: absolute;
    z-index: 0;
    top:-50px;
    left:870px;
  }
  &__left-side{
    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: center;

    border: 2px solid #9B6195;
    background: rgb(7,7,7);
    backdrop-filter: blur(60px);

    padding: 0 90px 0 90px;
  }
  &__right-side{
    z-index: 0;

    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto 1fr;
    column-gap:1.25rem;
    row-gap:2.5rem;
    flex-grow: 1;
    justify-content: flex-end;
  }
  &__title{
    margin-top: 2rem;

    font-size:2rem;
    color: #ffffff;
    text-shadow:
            -0   -1px 2px #00848C,
            0   -1px 2px #00848C,
            -0    1px 2px #00848C,
            0    1px 2px #00848C,
            -1px -0   2px #00848C,
            1px -0   2px #00848C,
            -1px  0   2px #00848C,
            1px  0   2px #00848C,
            -1px -1px 2px #00848C,
            1px -1px 2px #00848C,
            -1px  1px 2px #00848C,
            1px  1px 2px #00848C,
            -1px -1px 2px #00848C,
            1px -1px 2px #00848C,
            -1px  1px 2px #00848C,
            1px  1px 2px #00848C;

  }
  &__foto-block{
    display: flex;

    justify-content: center;
    align-items: center;

    width: 21.625rem;
    height: 21.625rem;

    background: url(../../assets/profile/load_foto.svg) no-repeat;
    background-size: cover;


  }
  &__foto{
    max-width:290px;

  }
  &__change-foto{

    &-button{
      background-color: #000;

      margin-top: 140px;
      border: 2px solid white;
      padding: 6px 6px 10px 10px;
    }
  }
  &__save{


    justify-self: center;
    grid-column:2/3;
    &__{
      background: rgb(14,14,14);
    }
    &-button{
      position: relative;

      white-space: wrap;
      padding: 23px 70.5px 20px 70.5px;
      background: url(../../assets/profile/profile_button/profile_button.svg) no-repeat ;
      font-size:1.25rem;
      transition: box-shadow 0.2s ;
    }
    &-button:hover{
      box-shadow: 0 0 45px 0 #00848C;
    }
    &-button:before{
      content: url("../../assets/profile/profile_button/left_decor.svg");
      position: absolute;
      bottom:-5px;
      left: -12px;
    }
    &-button:after{
      content: url("../../assets/profile/profile_button/right_decor.svg");
      position: absolute;
      top: 16px;
      right: -10px;
    }
  }

}
.blue-title{
  color: #00848C;
  font-size:2rem;
}

.profile__bg-decor{
  &--1:before{
    content: url('../../assets/bg_img/way1.svg');
    position: absolute;
    top: 100px;
    left: -175px;
  }
  &--1:after{
    content: url('../../assets/bg_img/way.svg');
    position: absolute;
    top: 900px;
    right: -800px;
  }
  &--2:before{
    content: url('../../assets/bg_img/way2.svg');
    position: absolute;
    top: 950px;
    right: -800px;
  }
  &--2{
    position: relative;
    z-index: 1;
  }
  &--2:after{
    content: url('../../assets/bg_img/squares.svg');
    position: absolute;
    top: 500px;
    left:-350px;
    z-index: 1;
  }
}